@model WorldLiteratureLib.ViewModels.RegisterModel
@{ 
    ViewData["Title"] = "Регистрация";
}
<h1>@ViewData["Title"]</h1>

<form asp-action="Register" asp-controller="Account" asp-antiforgery="true" enctype="multipart/form-data">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-group">
            <label asp-for="Email">Введите Email</label> <br />
            <input type="text" asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-group">
            <label asp-for="UserName">Скажите как вас зовут</label> <br />
            <input type="text" asp-for="UserName" />
            <span asp-validation-for="UserName"></span>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber">Введите номер телефона</label> <br />
            <input type="text" asp-for="PhoneNumber" />
            <span asp-validation-for="PhoneNumber"></span>
        </div>
        <div class="form-group">
            <label asp-for="WebPage">Ссылка на социальные сети</label> <br />
            <input type="text" asp-for="WebPage" />
            <span asp-validation-for="WebPage"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password">Введите пароль</label> <br />
            <input type="password" asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword">Подтвердите пароль</label> <br />
            <input asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
        <div class="form-group">
            <label asp-for="Photo">Загрузите ваше фото</label> <br />
            <input type="file" class="form-control-file" id="exampleFormControlFile1" asp-for="Photo">
            <span asp-validation-for="Photo"></span>
        </div>

        <div>
            <input type="submit" value="Регистрация" class="btn btn-outline-dark" />
        </div>
    </div>
</form>
